* {
  padding: 0;
  margin: 0;
}

.container {
    height: 1080px;
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
}

.index:visited {
    color: #00f964; 
    text-decoration: underline; 
}

.index:hover {
     color: #95f605;  
    text-decoration: none; 

}